<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">marcaTécnica</h1>
      <h3 class="mb-5">
        <em>Guarda tus artículos</em>
      </h3>
      <!--<a href="/signin" class="btn btn-primary">Empecemos</a>-->
      <!--<a href="/signin" class="btn btn-primary">Signin</a>-->
    </div>
  </header>
</main>