<div class="container p-4">
  <div class="text-dark text-center p-4">
  </div>
  <div class="row">
      <div class="col-sm-4 col-md-6 col-lg-12">
        <div class="card text-left h-100">
          <div class="card-body">
            <h5 class="card-title text-primary">
              <a href="/descargarxml/{{idArtic}}">Descargar XML</a>
              <b> - </b>
              <a href="/urlgalerada/{{idArtic}}" target="_blank">Ir a galerada HTML o PDF</a>
            </h5>
            {{{link}}}
          </div>
        </div>
      </div>
  </div>
</div>
<div>
  <footer>
    <p>Politécnico Colombiano Jaime Isaza Cadavid<br>
    Revista Politécnica - 2020 <br />
    Contacto: <a href="mailto:rpolitecnica@elpoli.edu.co">rpolitecnica@elpoli.edu.co</a></p>
  </footer>
</div>